.priortiyTable {
  min-width: 500px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr 0.5fr;
}

.priortiyTable .column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.item {
  padding: 1rem 0;
}
