.priortiyTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.priortiyTable .column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.item {
  padding: 1rem 0;
}
