:root {
  --clearscan3: #c1eafd3b;
  --clearscan2: #61798485;
  --clearscan: #84378485;
  --scan3: #c1eafd;
  --scan2: #617984;
  --scan: #843784;
  --neon2: #ff00ff;
  --neon: #00eeff;
  --shadowdistance: 0.09em;
  --cyberGrad: linear-gradient(
    30deg,
    var(--clearscan3),
    var(--clearscan2) 50%,
    var(--clearscan)
  );
  --extra-small: 0px;
  --small: 600px;
  --medium: 960px;
  --large: 1280px;
  --extra-large: 1920px;
}

html {
  min-height: 100%;
}

main {
  overflow: auto;
  margin: 1rem 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

.bad-stuff {
  color: red;
}

.bad-stuff fieldset {
  border-color: red;
}

.MuiButton-root {
  margin: 0.125em 0.25em;
}

.app-nav .MuiDrawer-paper {
  max-width: 500px;
  margin: auto;
}

.app-nav label {
  top: 0.5em;
}

.table-container {
  max-height: calc(100vh - 192px);
}

/* CyberTerminal 3.0 */
@keyframes scanning {
  from {
    background: linear-gradient(
      to bottom,
      var(--scan3),
      var(--scan3) 50%,
      var(--scan2) 50%,
      var(--scan2)
    );
  }
  to {
    background: linear-gradient(
      to bottom,
      var(--scan2),
      var(--scan2) 50%,
      var(--scan) 50%,
      var(--scan)
    );
  }
}

body.cyberterminal3 {
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    var(--scan2),
    var(--scan2) 50%,
    var(--scan) 50%,
    var(--scan)
  );
  background-size: 100% 0.5rem;
  animation-name: scanning;
  animation-duration: 1s;
}

.cyberterminal3 main {
  color: var(--neon);
  border: 1px var(--neon) solid;
  background: var(--cyberGrad);
  border-radius: 1rem 0 1rem 0;
}

@keyframes glow {
  to {
    text-shadow: var(--neon2) 0.06em 0.06em 0.2em;
  }
}

.cyberterminal3 h1,
.cyberterminal3 h2,
.cyberterminal3 h3,
.cyberterminal3 h4,
.cyberterminal3 h5 {
  color: white;
  text-shadow: var(--neon2) var(--shadowdistance) var(--shadowdistance) 0;
  animation: glow 0.7s infinite alternate;
  font-family: Audiowide;
  border-bottom: 1px var(--neon) solid;
  border-top-left-radius: 1rem;
  border-radius: 1rem;
}

.cyberterminal3 a {
  color: white;
}

.cyberterminal3 input,
.cyberterminal3 textarea {
  color: white;
}
.cyberterminal3 label,
.cyberterminal3 legend {
  color: var(--neon);
  /* background-color: white; */
}
.cyberterminal3 th {
  background-color: black;
  background: var(--cyberGrad);
  color: white;
}
.cyberterminal3 tbody td {
  color: var(--neon);
}
.cyberterminal3 .MuiSvgIcon-root {
  color: var(--neon2);
}
.cyberterminal3 .MuiSelect-select {
  color: white;
}

.cyberterminal3 .app-nav .MuiSelect-select {
  color: var(--neon2);
}

.cyberterminal3 .bad-stuff {
  text-shadow: black var(--shadowdistance) var(--shadowdistance) 0;
  animation: glow 0.7s infinite alternate;
}

.nightwatch {
  background: #222;
  color: lightgray;
}

.nightwatch a {
  color: lightskyblue;
}

.nightwatch td,
.nightwatch th,
.nightwatch legend,
.nightwatch label,
.nightwatch .MuiBreadcrumbs-ol,
.nightwatch .MuiSelect-select,
.nightwatch .MuiButton-root,
.nightwatch input,
.nightwatch textarea {
  color: lightgray;
}

.nightwatch th {
  background: #222;
}

.nightwatch .MuiOutlinedInput-notchedOutline {
  border-color: lightgray;
}
.nightwatch .MuiOutlinedInput-notchedOutline:hover {
  border-color: gray;
}

.nightwatch .MuiTypography-root.Mui-disabled {
  color: gray;
}

.nightwatch .MuiRadio-root {
  color: #aaa;
}
